<nz-layout>
        <div nzAlign="middle" nz-row nzType="flex" nzJustify="start">
            <div nz-col>Mois:&nbsp;</div>
            <nz-date-picker nz-col nzMode="month" nzAllowClear="false"></nz-date-picker>

            <button nz-col nz-button (click)="exportToSap()" class="push-right">Export SAP</button>
            <button nz-col nz-button (click)="exportToCsv()">Export CSV</button>
            <button nz-col nz-button (click)="addRow()" nzType="primary">Ajout projet</button>
        </div>
        <nz-table #editRowTable nzBordered nzSize="small" [nzData]="listOfData" nzFrontPagination="false">
            <thead>
            <tr>
                <th nzWidth="30%">Projet</th>
                <th>Nature</th>
                <th>Durée sur le mois</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of editRowTable.data" class="editable-row">
                <td>
                    <nz-select nzPlaceHolder="Select a project" [(ngModel)]="data.name">
                        <nz-option nzValue="Project 0" nzLabel="Project 0"></nz-option>
                        <nz-option nzValue="Project 1" nzLabel="Project 1"></nz-option>
                    </nz-select>
                </td>
                <td>
                    <nz-select nzPlaceHolder="Select a nature" [(ngModel)]="data.nature">
                        <nz-option nzValue="development" nzLabel="Development"></nz-option>
                        <nz-option nzValue="support" nzLabel="Support"></nz-option>
                    </nz-select>
                </td>
                <td>
                    <nz-input-number [(ngModel)]="data.duration" [nzMin]="0" [nzMax]="30" [nzStep]="0.25" [nzPlaceHolder]="'Nombre de jours'" [nzPrecision]="2" (nzFocus)="addScrollSupportToInput()"></nz-input-number>
                    jour(s)
                </td>
                <td>
                    <a (click)="deleteRow(data.id)">
                        <i nz-icon nzType='delete'></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </nz-table>
</nz-layout>