<nz-layout>
  <div nzAlign="middle" nz-row nzType="flex" nzJustify="start">
    <div nz-col>Mois:&nbsp;</div>
    <nz-date-picker nz-col nzMode="month" nzFormat="LLLL y" nzAllowClear="false" [ngModel]="month"></nz-date-picker>

    <button nz-col nz-button (click)="exportToSap()" class="push-right">Export SAP</button>
    <button nz-col nz-button (click)="exportToCsv()">Export CSV</button>
    <button nz-col nz-button (click)="addRow()" [nzLoading]="loadingAdd" nzType="primary">Ajout projet</button>
  </div>
  <nz-table #editRowTable nzBordered nzSize="small" [nzData]="allocations" nzFrontPagination="false">
    <thead>
      <tr>
        <th nzWidth="30%">Projet</th>
        <th>Nature</th>
        <th>Durée sur le mois</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr app-allocation-item *ngFor="let data of editRowTable.data" class="editable-row" [allocation]="data"
        [allocationChanged]="updateRow.bind(this)" (deleteRequest)="deleteRow($event)" [projects]="projects"
        [activityTypes]="activityTypes">
      </tr>
    </tbody>
  </nz-table>
</nz-layout>