<nz-layout>
  <div nzAlign="center" style="margin-left: auto;">
    <button nz-button (click)="exportToCsv()">Export CSV</button>
    <button nz-button (click)="addRow()" nzType="primary">Ajout projet</button>
  </div>
  <nz-table #editRowTable nzBordered nzSize="small" [nzData]="projects" nzFrontPagination="false">
    <thead>
      <tr>
        <th>Projet</th>
        <th>Carte</th>
        <th>Composant</th>
        <th>Arch</th>
        <th>Type</th>
        <th>eOTP</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data" class="editable-row">
        <td>
          <input nz-input type="text" [(ngModel)]="data.name" />
        </td>
        <td>
          <input nz-input type="text" [(ngModel)]="data.board" />
        </td>
        <td>
          <input nz-input type="text" [(ngModel)]="data.component" />
        </td>
        <td>
          <nz-select nzPlaceHolder="Architecture" [(ngModel)]="data.arch">
            <nz-option nzValue="arm" nzLabel="ARM"></nz-option>
            <nz-option nzValue="x86" nzLabel="x86"></nz-option>
            <nz-option nzValue="powerpc" nzLabel="Power PC"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select nzPlaceHolder="Select a type" [(ngModel)]="data.type">
            <nz-option nzValue="firmware" nzLabel="Firmware"></nz-option>
            <nz-option nzValue="web-app" nzLabel="Web application"></nz-option>
            <nz-option nzValue="desktop-app" nzLabel="Desktop application"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select #ptSelectElement nzShowSearch nzPlaceHolder="Select P/T" [nzDropdownRender]="renderTemplate"
            (nzOnSearch)="setLastSearch($event)" [nzOptions]="eotps">
          </nz-select>
          <ng-template #renderTemplate>
            <div class="container">
              <a class="add-item" (click)="showModalCreatePT(data)">
                <i nz-icon nzType="plus"></i>
                Add item
              </a>
            </div>
          </ng-template>
        </td>
        <td>
          <a (click)="deleteRow(data.id)">
            <i nz-icon nzType='delete'></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-manage-eotp [(visible)]="isCreatePTVisible"></app-manage-eotp>
</nz-layout>
